.console{
	font-family: 'Andale Mono', courier, Helvetica;
}

body{
    font-family: 'lucida grande', tahoma;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 20px;
}

p {
	line-height: 1.3em;
	color: #333;
}

.invisible{
    display:none;
}

.info-paragraph{
    margin: 12px 0px;
    font-size: 14px;
    line-height: 21px;
}

#wrapper {
	width: 640px;
	margin: 0 auto;
	background: #F8FAFF;
	padding: 20px;
	border: 2px solid #E2E6F0;
	border-radius: 6px 6px 6px 6px;
}

#console {
	padding: 5px;
	height: 400px;
	border: 1px solid black;
	overflow: scroll;
}

div.console {
	font-size: 14px;
	margin-top: 1em
}
div.console div.jquery-console-inner {
	width: 600px;
	height: 200px;
	background: #fff;
	padding: 20px;
	overflow: auto;
	border: 1px solid #D7D7D7;
	border-radius: 6px 6px 6px 6px;
}
div.console div.jquery-console-prompt-box {
	color: #444;
	font-family: monospace;
}
div.console div.jquery-console-focus span.jquery-console-cursor {
	background: #333;
	color: #eee;
	font-weight: bold
}
div.console div.jquery-console-message-error {
	color: #ef0505;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0.1em;
}
div.console div.jquery-console-message-success {
	color: #187718;
	font-family: monospace;
	padding: 0.1em;
}
div.console span.jquery-console-prompt-label {
	font-weight: bold
}

span.item {
	color: green;
}

#extra-container {
	width: 100%;
	min-height: 400px;
	display: block;
	padding-top: 20px;
}
.extra {
	display: none;
}

span.quote {
	color: #2966B8;
}

span.author {
	font-weight: bold;
}

span.help{
    width: 100px;
    display: block;
    float: left;
}

#extra {
	width: 100%;
	min-height: 400px;
}

.body-im {
    float: left;
    padding: 10px;
}